TD{
   color:black;
   font-size: 11; 
   font-family: Verdana;

}
.bot{
	text-decoration: none;
	font-size: 10; 
   font-family: verdana,Arial;
   font-weight:bold;
   color:black;
}
.copy{
	font-size: 10; 
   font-family: verdana,Arial;
    color:black;
}
