{% extends 'static/base.twig' %}

{% block content %}

<h1>Admin Tool</h1>
<div class="tiptip">
    <a class="button left" href="index.php?admin&member_search=1" title="Display All Members">
        <span class="icon icon127"></span>
        <span class="label">Members</span>
    </a>
    <a class="button middle" href="" title="Display All Members">
        <span class="icon icon127"></span>
        <span class="label">Members</span>
    </a>
    <a class="button middle" href="" title="Display All Members">
        <span class="icon icon127"></span>
        <span class="label">Members</span>
    </a>
    <a class="button middle" href="" title="Display All Members">
        <span class="icon icon127"></span>
        <span class="label">Members</span>
    </a>
    <a class="button middle" href="" title="Display All Members">
        <span class="icon icon127"></span>
        <span class="label">Members</span>
    </a>
    <a class="button right" href="" title="Display All Members">
        <span class="icon icon127"></span>
        <span class="label">Members</span>
    </a>
</div>

{% block option %} {% endblock option %}

{% endblock content %}