{% extends 'admin.twig' %}

{% block option %}
<h5>Member List</h5>
<form action="index.php?ajax&admin_member_search=1"
      id="admin-member-search">
    <input type="text" id="member-name" placeholder="Search Member..." />
</form>

<table id="member-search-table">


</table>

{% endblock option %}




