{% extends 'admin.twig' %}

{% block option %}
    <h5>Regions and Territories</h5>
    <div class="tiptip">
        <a class="button" id="by_city" title="Show Transactions by City">
            <span class="icon icon179"></span>
            <span class="label">Transaction by City</span>
        </a>
        <a class="button" id="by_country" title="Show Transactions by Country">
            <span class="icon icon179"></span>
            <span class="label">Transaction by Country</span>
        </a>
    </div>
    <h2 id="by_what"></h2>
    <div id="transaction-graph" style="width:600px;height:300px;"></div>

{% endblock option %}
