<!doctype html>
<html lang="en">
<head>

	{% include 'static/title.twig' %}

</head>
<body>
    {% include 'static/header.twig' %}

    <div id="content">

		{% block content %}{% endblock %}

	</div>

    {% include 'static/footer.twig' %}

</body>
</html>