{% extends 'static/base.twig' %}

{% block content %}

    <h1>Hi, Welcome to Auction Max, Visitor</h1>
    <p>To login, click <a href="index.php?login">here</a>.</p>
    <p>To register, click <a href="index.php?registration">here</a>.</p>
    <p>If you cannot login, it is highly probable that you do not
    have the login database in your local MAMP/WAMP/XAMP SQL server.
    I have uploaded my latest SQL DDL file <a href="">here</a>. Grab it
    and import it in your local SQL database. Finally, don't forget to change
    the database information in the <pre>config/database.php</pre> file.</p>

{% endblock content %}