{% extends "base.html" %}

<h1>{{ header }}</h1>
<p>{{ msg }}</p>
<p>You are viewing this page on {{ "now" | date("D, d M Y H:i:s") }}.</p>

{% block content %}
    {% for ALLposts in table %}
        <h2 class="mostRecent">{{ mostRecent }}</h2>
    {% endfor %}
{% endblock %}