{% extends 'static/base.twig' %}

{% block content %}

    <h1>Hi, Welcome to Auction Max, Visitor</h1>
    <p>To login, click <a href="index.php?login">here</a>.</p>
    <p>If you cannot login, it is highly probable that you do not
    have the login database in your local MAMP/WAMP/XAMP SQL server.
    You can run command to create a new table:
    <pre>
        CREATE TABLE test_session (
            id INT(11) PRIMARY KEY AUTO_INCREMENT,
            username VARCHAR(256) NOT NULL,
            password VARCHAR(256) NOT NULL,
            session VARCHAR(256) NOT NULL,
            expire INT(1) NOT NULL
        );
    </pre>
    </p>

{% endblock content %}