{% extends 'static/base.twig' %}

{%  block content %}
    <h1>Member Login</h1>
    <form action="index.php?login" method="POST">
    	<input type="text" name="username" length="20" placeholder="Username"
               value="{{ username|capitalize }}"/>
    	<input type="password" name="password" length="20"
               placeholder="Password" />
        <input type="submit" value="Login" />
    	{#<a href="index.php?login" id="login">Login</a>#}
    </form>

{% endblock content %}