{% extends 'static/base.twig' %}

{% block content %}

    <h1>Welcome to my MVC, {{ memberName }}.</h1>
    <h4>{{ title }}</h4>
    <p>{{ content }}</p>

    {% for ALLposts in table %}
        <h2 class="mostRecent">{{ mostRecent }}</h2>
    {% endfor %}

{% endblock content %}


