<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<h1>Welcome to my MVC</h1>
	<hr />
	<h2>News</h2>
	<h4>{{ title }}</h4>
	<p>{{ content }}</p>
</body>
</html>