{% extends 'static/base.twig' %}

{% block content %}

<form action="index.php?post" method="POST">
<ul>
    <li><input type="text" name="title" placeholder="Title" />
    <li><select name="category">
        {% for key, type in categories %}
             <option disabled>--- {{ key|capitalize }} -----------</option>

            {% for category in type %}
                <option value="{{ category.id }}">{{ category.name|capitalize }}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <li><input type="text" name="price" placeholder="Price" />
    <li><textarea name="description" rows="6" cols="30"></textarea>
    <li><input type="hidden" name="submit" value="TRUE" />
    <li><input type="submit" value="Post Offer" />
    {#<a id="offer-submit-button" class="button">Post Offer</a>#}
</ul>
</form>

{% endblock content %}
