
<h2>Registration</h2>
<form method="post" action="">
	<p>
		Username<br/>
		<input name="Username" type="text" id="username">
	</p>
	<p>
		Password<br/>
		<input name="Password" type="text" id="password">
	</p>
	<p>
		Phone<br/>
		<input name="Phone" type="text" id="phone">
	</p>
	<p>
		Email<br/>
		<input name="Email" type="text" id="email">
	</p>	
	<p> 
		Address</br>
		<table border="0">
		<tr>
		  <td>Number</td>
		  <td>Street</td>
		  <td>City</td>
		  <td>Province</td>
		  <td>PCode</td>
		</tr>
		<tr>
		  <td><input name="Address" type="text" id="address"></td>
		  <td><input name="City" type="text" id="city"></td>
		  <td><input name="Province" type="text" id="province"></td>
		  <td><input name="Country" type="text" id="country"></td>
		  <td><input name="Postal_code" type="text" id="postal_code"></td>
		</tr>
		</table>
	</p>
	<p>
		Credit Card</br>
		<table border="0">
		<tr>
			<td>CardNo</td>
			<td>ExpDate</td>
		</tr>
		<tr>
			<td><input name="CardNo" type="text" id="number"></td>
		</tr>
		</table>
	</p>
	
	<p>
		<input type="submit" name="submit" value="Registration"/>
	</p>
</form>
