<h2>Registration</h2>
<form method="post" action="">
	<p>
		Username<br/>
		<input name="Username" type="text" id="Username">
	</p>
	<p>
		Password<br/>
		<input name="Password" type="text" id="Password">
	</p>
	<p>
		Phone<br/>
		<input name="Phone" type="text" id="Phone">
	</p>
	<p>
		Email<br/>
		<input name="Email" type="text" id="Email">
	</p>	
	<p> 
		Address</br>
		<table border="0">
		<tr>
		  <td>Number</td>
		  <td>Street</td>
		  <td>City</td>
		  <td>Province</td>
		  <td>PCode</td>
		</tr>
		<tr>
		  <td><input name="Number" type="text" id="Number"></td>
		  <td><input name="Street" type="text" id="Street"></td>
		  <td><input name="City" type="text" id="City"></td>
		  <td><input name="Province" type="text" id="Province"></td>
		  <td><input name="PCode" type="text" id="PCode"></td>
		</tr>
		</table>
	</p>
	<p>
		Credit Card</br>
		<table border="0">
		<tr>
			<td>CardNo</td>
			<td>ExpDate</td>
		</tr>
		<tr>
			<td><input name="CardNo" type="text" id="CardNo"></td>
			<td><input name="ExpDate" type="text" id="ExpDate"></td>
		</tr>
		</table>
	</p>
	
	<p>
		<input type="submit" name="submit" value="Registration"/>
	</p>
</form>
