


/**
 * Static styling
 */

#header
{
  overflow: hidden;
  width: 100%;
  background-color: aqua;
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);

}

#header ul
{

	overflow: hidden;
	vertical-align: middle;
}


#header ul li
{
    float: left;
    margin: 0px 20px 0px 20px;
    color: red;
  
}

#header ul li:hover
{
  background-color: yellow;
}


#header #magnifying
{
    position: relative;
    top: 5px;

}

#title 
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#content .earned-rating
{
    color: yellowgreen;
}

#content .unearned-rating
{
    color: lightgray;
}

/*h2.mostRecent {*/
    /*font: 20;*/
    /*font-family: "Verdana", Times, serif;*/
    /*text-align: center;*/
/*}*/
/*#search {*/
  /*margin-left: 217px;*/
  /*margin-right: 217px;*/
  /*background-color: #a5a5b3;*/
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a5b3), to(#999999));  Safari 4+, Chrome*/
  /*background-image: -webkit-linear-gradient(top, #a5a5b3, #999999);  Chrome 10+, Safari 5.1+, iOS 5+*/
  /*background-image:    -moz-linear-gradient(top, #a5a5b3, #999999);  Firefox 3.6-15*/
  /*background-image:      -o-linear-gradient(top, #a5a5b3, #999999);  Opera 11.10-12.00*/
  /*background-image:         linear-gradient(to bottom, #a5a5b3, #999999);*/
/*}*/

/*#content {*/

    /*font-family: 'Trocchi', serif;*/

    /*width: 900px;*/
    /*text-align: center padding-bottom: 25px;*/
    /*margin: 0 auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/

     /*gradients*/
    /*background: -webkit-gradient(linear, left top, left bottom,*/
    /*color-stop(0%, white), color-stop(15%, #F7F7F7), color-stop(100%, #F5F5F5));*/
    /*background: -moz-linear-gradient(top, white 0%, #F7F7F7 55%, #F5F5F5 130%);*/
/*}*/




#content
{
background-color: white;
height: 100%;
min-height: 410px;
}


#footer{
    text-align: center;
    background-color: aqua;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px rgba(255, 255, 255, 1);   
    overflow: hidden;

}


#error
{
   text-align: center;
   color: red;
}

/*

End of static style

*/

ul li
{
  margin: 10px 0px 10px 0px;
}

table, table th, table td
{
    border: 1px solid black;
  
    padding: 5px;
}


/**
index styling
*/

#index h1
{
  color: red;
  font-size: 2em;
  font-weight: lighter;
}

#index ul
{
  background-color: aqua;
}

/**
end of index styling
*/


/**
login styling
*/

#login 
{
  text-align: center;
   font-family: "Calibri";
}

#login h1
{
  font-weight: lighter;
}

#login input
{
 
  font-size: 1em;
  font-family: "Calibri";
  font-weight: lighter; 
  border: 1px solid #891424;
  border-radius: 3px;
  height: 20px;
  margin: 5px 0px; 

}

#login input[type=submit]:hover
{
  background-color: red;
} 



/**
end of login styling 
*/


