h1.title {
    font: 20;
    font-family: 'Diplomata', cursive;
    text-align: center;
}
h2.mostRecent {
    font: 20;
    font-family: "Verdana", Times, serif;
    text-align: center;
}
div.header {
    width: auto;
    text-align: center padding: auto;
    border: 5px solid gray;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
img.auctionImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div.content {
    width: auto;
    text-align: center padding-bottom: 25px;
    margin: 25px;
    border: 5px solid gray;
    margin-left: 500px;
    margin-right: 500px;
    width: auto;
}
div.username { text-align: right }

#bigheader {
	font-size: 50pt;
}
