<!doctype html>
<html lang="en">
<head>

	<title>
		{% include 'static/title.twig' %}
	</title>

    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>

	<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
	<link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>

		
</head>
<body>
	<div id="header">{% include 'static/header.twig' %}</div>
    <hr />

    <div id="content"> 

		{% block content %}{% endblock %}

	</div>

    <hr />
    <div id="footer">{% include 'static/footer.twig' %}</div>

</body>
</html>