{% block header %}

    <a href="index.php"><img class="title" src="assets/img/web/logo.png" alt="Auction Max"></a>

	<form class="search" action="">
		<input type="text" name="search" placeholder="Search" />
        <a href=""><img class="" src="assets/img/web/searchbutton.png" alt="search" width="22" height="22"></a>
	</form>

{% endblock header %}