{% block header %}

    <a href="index.php"><img class="autionImage" src="assets/img/web/logo.png" alt="Auction Max"></a>
	
	<h1 class="title">Auction Max</h1>
	
	<form action="">
		<input type="text" name="search" placeholder="Search" />
        <a href="">Search</a>
	</form>

{% endblock header %}