{% block header %}

    <a href="index.php"><img id="title" src="assets/img/web/logo.png" alt="Auction Max"></a>

	<form id="search" action="">
		<input type="text" name="search" placeholder="Search" />
        <a href=""><div align="center"><img id="searchbutton" src="assets/img/web/searchbutton.png" alt="search" width="22" height="22"></div></a>
	</form>

{% endblock header %}