{% block header %}
    
    <div id="header">
		<h3 class="username">{{username}}</h3>
		<h1 class="title">Auction Max</h1>
		{#<img class="auctionImage" border="0" src="../../assets/img/auction.bmp" alt="Auction Image" width="214" height="100">#}
		<form action="">
			Search: <input type="text" name="search" value="{{search}}"><br>
					<input type="submit" value="Submit">
		</form>
    </div>
	
{% endblock header %}