<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ header }}</h1>
    <p>{{ msg }}</p>
    <p>You are viewing this page on {{ "now" | date("D, d M Y H:i:s") }}.</p>
</body>
</html>